@import "tailwindcss";

@theme {
  /* --font-heading: "Poppins, sans-serif";
  -- : "Inter, sans-serif";
  -- -heading: "Inter, sans-serif"; */
}
body {
  font-family: "Outfit", sans-serif;
}
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: #fff !important;
  caret-color: #fff !important;
  transition: background-color 5000s ease-in-out 0s;
}

button {
  cursor: pointer;
}
